.loading {
  display: none;
}

.header::part(self) {
  height: 64px;
  background-color: white;
  border-bottom: solid 1px rgba(0, 0, 0, 0.12);
  top: 0;
  left: 0;
  right: 0;
  z-index: calc(infinity);
}
.header-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 24px;
  padding-right: 24px;
}

.checked-svg {
  fill: red;
}